ContosoUniversity.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ContosoUniversity.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ContosoUniversity.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ContosoUniversity.Tests/obj/Debug/ContosoUniversity.Tests.csproj.FileListAbsolute.txt
ContosoUniversity.Tests/obj/Debug/ContosoUniversity.Tests.csproj.CopyComplete
ContosoUniversity.Tests/bin/Debug/nunit_random_seed.tmp
ContosoUniversity.Tests/bin/Debug/nunit.framework.xml
ContosoUniversity.Tests/bin/Debug/System.Web.WebPages.xml
ContosoUniversity.Tests/bin/Debug/System.Web.WebPages.Razor.xml
ContosoUniversity.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
ContosoUniversity.Tests/bin/Debug/System.Web.Razor.xml
ContosoUniversity.Tests/bin/Debug/System.Web.Optimization.xml
ContosoUniversity.Tests/bin/Debug/System.Web.Mvc.xml
ContosoUniversity.Tests/bin/Debug/PagedList.xml
ContosoUniversity.Tests/bin/Debug/EntityFramework.xml
ContosoUniversity.Tests/bin/Debug/EntityFramework.SqlServer.xml
ContosoUniversity.Tests/bin/Debug/ContosoUniversity.dll.config
ContosoUniversity/obj/
packages/
